<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">

        <h2 class="offset-3 col-6">Login on KAJWA!</h2>

        <div class="col-6 offset-3">
            <form action="/login" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="email" class="form-lebel">Email</label>
                    <input name="email" id="email" class="form-control" type="text" required />


                </div>

                <div class="mb-3">
                    <label for="password" class="form-lebel">Password</label>
                    <input name="password" id="password" class="form-control" type="password" required />



                </div>


                <button class="btn btn-primary">Login</button>
            </form>

            <!-- <hr> <a href="/forgot">Forgot Password?</a> -->


            <hr>
            <!-- <h3>OR</h3> -->
            <hr>
            <!-- <a href="/auth/google">
                <button class="btn btn-danger">Login with Google</button>
            </a> -->
        </div>
    </div>

    <!--
        -----------------------------------
